.App {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    width: 100%;
    display: flex;
    gap: 1rem;
    height: 4rem;
    border-bottom: 1px solid rgb(196, 196, 196);
    box-shadow: 1px 1px 8px rgb(196, 196, 196);
    align-items: center;
    justify-content: center;
    background-color: white;
    position: relative;
    top: 0;
}

.link {
    text-decoration: none;
}

h1 {
    font-size: 8em;
}

.homeContent {
    color: rgb(39, 189, 39);
}

.welcome {
    font-size: 2.5em;
    font-weight: 900;
    text-align: center;
    padding: 0.5rem 0;
    color: rgb(39, 189, 39);
}

.logo {
    font-size: 20em;
    padding-left: 0.5rem;
    color: transparent;
    text-shadow: 0 0 0 var(--green);
    margin: auto;
    display: table;
}

.top-airline-card {
    margin-top: 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    gap: 1rem;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    padding: 1.5rem 3rem;
    background-color: var(--shadegreen);
}

.top-airline-card div {
    display: flex;
    justify-content: flex-start;
}

.top-airline-card div img {
    height: 8rem;
    width: 8rem;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
    background-color: white;
}

.top-airline-card div div {
    padding: 1rem;
    justify-content: center;
    width: 100%;
}

.top-airline-card div h3 {
    color: white;
    font-size: 1.5em;
    opacity: 2;
    justify-self: left;
}

.top-airline-card div h6 {
    color: white;
    opacity: 2;
    font-size: 1em;
    justify-content: center;
}

.top-airline-card div h6 span {
    font-size: 1.5em;
}

.rating_star {
    color: yellow;
}
