:root {
  --green: rgb(39, 189, 39);
  --lightgreen: rgba(181, 250, 181, 0.5);
  --shadegreen: rgba(39, 189, 39, 0.75)
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--lightgreen);
}
 
h2 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--green);
  font-size: 2.5em;
}

h3 {
  margin-bottom: 1rem;
  text-align: center;
  color: var(--green);
  text-align: left;
}

ul {
  list-style-type: none;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

.app {
  font-family: inherit;
  margin: 0 auto;
  max-width: 75em;
}

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

header {
  margin: 0;
}

/* .logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
} */
/*
} */

main {
  background-color: white;
  margin: 10rem;
  margin-top: 4rem;
  border:1px solid transparent;
  padding: 5rem;
  height: 100%;
}

.new-plant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
}

.new-plant-form form {
  display: flex;
  justify-content: center;
}

.NewReviewForm #date {
  margin-right: 2rem;

  width: 0.5rem;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}


.options{
  display: inline-block;
  margin: 1rem;
  /* flex-direction: row; */
  /* font-size: 12px;
  padding-left: 0.5rem;
  margin: 1rem; */
}

.options img{
  display: flex;
  justify-content: center;
}
